@font-face {
  font-family: 'MyWebFont';
  src: url('Ardela Edge X01 ExtraBold.woff2') format('woff2');
}

*,
*::before,
*::after {

margin: 0;
padding: 0;

background-color: black;
}



.homepage-wrapper {
  text-align: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.bingo {

  position: relative;
  z-index: 98;
 display: flex;
 top: 28%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
justify-content: center;

}

.homepage-wrapper h1 {

  position: fixed;
  font-size: 45px;
  color: white;
  font-family: 'MyWebFont', Fallback, sans-serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 2.00px; 
  text-shadow: 2px 2px 3px yellow;

}



.homepage-wrapper h2 {
  color: white;
  padding: 20px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 15px;
  z-index: 99;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 0.01px; 
}

.bingo img {




}

.Yeeters {
  max-width: 35%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  float: left;

 



}

.Column {
  padding: 5px;
}

