@font-face {
    font-family: 'MyWebFont';
    src: url('Serpentine BoldOblique.woff2') format('woff2');
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}



.homepage-wrapper {
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }

  .bingo {
    text-align: center;
    height: 100vh;
    maring: 0;
    background-color: black; 
  }
  
  .homepage-wrapper h1 {

    position: relative;
    font-size: 45px;

    color: white;
    font-family: 'MyWebFont', Fallback, sans-serif;

    

  }

  .bingo h1 {

    position: relative;
    font-size: 45px;

    color: white;
    font-family: 'MyWebFont', Fallback, sans-serif;

    

  }

.bingo img {
  max-width: 10%;
  position: relative;


}

  .homepage-wrapper h2 {
    color: white;
    padding: 20px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    
    border: 4px green;
    font-family: 'MyWebFont', Fallback, sans-serif;

  }

  
  
  .homepage-wrapper img {
    max-width: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    padding: 5px; 
    z-index: 99;

  }

